[
  {
    ewhois, [
      {
        providers, [
          {"whois.nic.ru", <<"^(.*)+.(org|net|com|msk|spb|nov|sochi).ru$">>},
          {"whois.nic.fm", <<"^(.*)+fm">>},
          {"mn.whois-servers.net", <<"^(.*)+mn">>},
          {"whois.belizenic.bz", <<"^(.*)+bz">>}
        ]
      }
    ]
  }
].